
#priority_explanation li{float:left}
h3#priority_explanation_heading,#priority_explanation{margin:0 7px 17px 7px;color:#333;border:none;padding:0}
.priority_info_block,.ad_overlay .block_image,.pricing_info_block{border:6px solid #f1f1f1}
.priority_info_block{cursor:pointer;width:248px;padding:20px;margin-right:20px;margin-bottom:13px;position:relative}
.priority_info_block:hover{border-color:#ddd}
.pricing_info_block{padding:20px 50px;border:6px solid #f1f1f1;margin-bottom:13px;width:348px}#premium_info_block{margin-right:0}
.priority_info_block .heading,.pricing_info_block .heading{width:100%;border-bottom:1px solid #d4d4d4;padding:4px 0 18px 0;margin:0;font-size:18px;text-align:center;color:#333333}
.pricing_info_block .heading{font-size:19px}.priority_info_block .description{text-align:center;margin-bottom:21px}
.priority_info_block .further_description{margin:8px 0;color:#777}
.priority_info_block .further_description strong{color:#333}
.priority_info_block .highlight,.pricing_info_block .highlight{font-family:Georgia, serif;color:#000;height:2.5em;font-style:italic;display:inline-block;padding:0 10px}
.priority_info_block .highlight{font-size:15px}.pricing_info_block .highlight{font-size:19px}
.priority_info_block .highlight .sales_hook{white-space:nowrap}
.upsell_description{text-align:left;margin-left:10px;padding:0px;height:125px;width:380px}
.upsell_description ul{margin-left:10px;list-style-type:disc;margin-top:0px}
.upsell_description li.grey_bullet{list-style-type:none;background:url('../../../i/grey_bullet.png') no-repeat left;padding-left:20px;padding-top:-5px;margin-top:13px}
.upsell_description a{text-decoration:none}
.expire_message{color:#D36601;border-top:1px solid #D4D4D4;border-bottom:1px solid #D4D4D4;padding:10px 0;margin:6px 15px}
#priority_basic_button,#priority_premium_button,#priority_priority_button{background:url(../../../i/upsell_button_sprite.png);width:248px;height:49px}
#priority_basic_button:hover{background-position:0 -49px}
#priority_priority_button{background-position:-248px 0}
#priority_priority_button:hover{background-position:-248px -49px}
#priority_premium_button{background-position:-496px 0}
#priority_premium_button:hover{background-position:-496px -49px}
#priority_block .description,#premium_info_block .description{margin-left:-15px;width:278px}
#priority_block .further_description,#premium_info_block .further_description{padding:0 20px}
.best_value_img{background:url(../../../i/best_value.png) no-repeat;position:absolute;top:-11px;right:-11px;width:83px;height:83px;z-index:1}
.price_text{background-repeat:no-repeat;overflow:hidden}
#priority_basic .price_text{background-image:url(../../../i/upsell_numbers_blue.png)}
#priority_block .price_text{background-image:url(../../../i/upsell_numbers_gold.png)}
#premium_info_block .price_text{background-image:url(../../../i/upsell_numbers_black.png)}
#priority_basic.selected{border-color:#c4c4c4}
#priority_block.selected{border-color:#ed8124}
#premium_info_block.selected{border-color:#777}
.merchant .priority_info_block{padding-bottom:35px}
.merchant .priority_info_block .price{margin-left:5px;margin-top:30px;margin-bottom:40px}
#priority_explanation.merchant li{margin-bottom:11px}
.merchant .priority_info_block .price_euro,.merchant .pricing_info_block .price_euro{background-position:0 -48px;margin-right:2px}
.merchant_basic_fees{height:104px;margin-top:30px;margin-left:92px;vertical-align:middle;line-height:83px;font-size:19px;color:#b9b9b9}
.merchant .priority_info_block{padding:20px 10px 35px 10px;width:268px}
.merchant .priority_info_block .heading{font-size:19px}
.merchant .base_action_button,.merchant #priority_priority_button,.merchant #priority_premium_button{margin:0 0 0 10px;border:1px solid #e2e2e0}
#priority_free,#priority_free input{cursor:pointer}
#priority_explanation.prioritypush{overflow:hidden}
.prioritypush #priority_standard,.prioritypush #premium_info_block{margin-top:20px}
.prioritypush #priority_block{padding-top:10px;padding-bottom:40px}
.prioritypush #priority_block h3{font-size:25px;border:none;text-align:center;margin-bottom:5px}
.priority_info_block.tip{border:0;clear:both;cursor:default;margin:0;padding:10px 10px 0 10px;width:888px}
#standard_priority_page{color:#333;list-style:none;margin:0 7px 2px 7px;overflow:hidden;padding:0}
#standard_priority_page.col4{margin-bottom:20px}
#standard_priority_page li{float:left}
#standard_priority_page .priority_info_block ul{list-style:none;margin:12px 0;padding:0}
#standard_priority_page .priority_info_block ul li{float:none;padding:4px 0 4px 28px}
#standard_priority_page .priority_info_block ul li.check{background-position:1px 7px;background-repeat:no-repeat}
#standard_priority_page .priority_info_block ul li.cross{background:url('../../../i/sell/priority/cross.png') no-repeat 2px 7px;color:#aaa}
#standard_priority_page .priority_info_block#priority_standard ul li.check{background-image:url('../../../i/sell/priority/check_basic.png')}
#standard_priority_page .priority_info_block#priority_block ul li.check{background-image:url('../../../i/sell/priority/check_priority.png')}
#standard_priority_page .priority_info_block#premium_info_block ul li.check{background-image:url('../../../i/sell/priority/check_premium.png')}
#standard_priority_page .priority_info_block .highlight{font-family:Arial, sans-serif;font-size:52px;font-style:normal;height:3px;margin:0;padding:14px 0 30px 2px}
#standard_priority_page .priority_info_block .highlight .euro{font-size:30px;line-height:0.2;vertical-align:top}
#standard_priority_page .priority_info_block .highlight .price{font-weight:bold;margin:0}
#standard_priority_page .priority_info_block{border:0;cursor:pointer;margin-right:12px;padding:0}
#standard_priority_page.col3 .priority_info_block{width:305px !important}
#standard_priority_page.col4 .priority_info_block{width:226px !important}
#standard_priority_page .heading{border:0px;border-top-left-radius:8px;border-top-right-radius:8px;color:#fff;font-size:20px;margin-top:30px;padding:24px 0 23px 0;text-transform:uppercase}
#standard_priority_page.col3 .heading{letter-spacing:3px}
#standard_priority_page .heading .most_popular{font-size:13px;font-weight:normal;letter-spacing:0;margin-bottom:2px;position:relative;text-transform:uppercase;top:-9px}
#standard_priority_page .description{border-width:0 2px 2px 2px;border-style:solid;border-color:#f1f1f1;font-size:15px;line-height:20px;margin:0 !important;padding:15px 24px 9px 29px;text-align:left;width:auto !important}
#standard_priority_page .choose{border-top:2px solid #f1f1f1;margin-top:20px}
#standard_priority_page .choose a{color:inherit;display:block;padding:16px 0;text-decoration:none}
#standard_priority_page #priority_standard .description:hover,#standard_priority_page #priority_standard .special-offer-badge:hover ~ .description,#standard_priority_page #priority_standard .heading:hover + .description{border-color:#AAAAAA}
#standard_priority_page #priority_block .description:hover,#standard_priority_page #priority_block .heading:hover + .description{border-color:#F03E62}
#standard_priority_page #premium_info_block .description:hover,#standard_priority_page #premium_info_block .heading:hover + .description{border-color:#6CA9CC}
.upsell_free:hover{border-color:#e0e0e0}
#standard_priority_page #premium_info_block.selected .description,#standard_priority_page #premium_info_block.selected .heading + .description{border-color:#CCA5AD; box-shadow: 0px 4px 10px -2px #000;}
#standard_priority_page #priority_block.selected .description,#standard_priority_page #priority_block.selected .heading + .description{border-color:#F03E62;box-shadow: 0px 4px 10px -2px #000;}
#standard_priority_page #priority_standard.selected .description,#standard_priority_page #priority_standard.selected .special-offer-badge ~ .description,#standard_priority_page #priority_standard.selected .heading + .description{border-color:#8d9aa8;box-shadow: 0px 4px 10px -2px #000;}
#standard_priority_page #priority_standard{position:relative}
#standard_priority_page #priority_standard .heading{background:#AAAAAA}
#standard_priority_page #priority_block{padding-top:10px;padding-bottom:0}
#standard_priority_page #priority_block .heading{background: #B2000B;margin-top:0}
#standard_priority_page #priority_block .heading .most_popular{color:#000000}
#standard_priority_page #premium_info_block{margin-right:0}
#standard_priority_page #premium_info_block .heading{background:url('../../../i/sell/badge_premium_blue.png') no-repeat 25px 14px #6CA9CC}
#standard_priority_page.col4 #premium_info_block .heading{background-position:12px 14px}
#standard_priority_page #priority_free .heading{background:#fff;border:2px solid #f1f1f1;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;color:#333;padding:22px 0 21px 0}
.upsell_free{clear:both;border:2px solid #f1f1f1;margin:0 7px}
.upsell_free .base_action_button.secondary{background:none;border:none;font-weight:normal}
#select_free_ad #select_free{background:url('../../../i/sell/arrow.png') no-repeat 904px center;color:#333;display:block;font-size:15px;padding:22px 24px;text-decoration:none}
.description-sub-text{bottom:12px;font-size:14px;font-weight:bold;left:-8px;position:relative}
.coming_soon_overlay{background:url('../../../i/sell/coming_soon_overlay.png') no-repeat;cursor:default;height:100%;left:0;position:absolute;top:0;width:100%;z-index:9999999}
#ad_duration_text{color:#777;font-size:16px;margin-bottom:25px;text-align:center}
#ad_duration_text b,#ad_duration_text strong{color:#000}
.terms-text{text-align:left;font-size:13px;margin:0 0 20px 0}
.special-offer-badge{background:url('../../../i/special_offer_badge.png') no-repeat;display:block;height:161px;position:absolute;top:0;width:161px;z-index:999}
.package_option{margin-left:20px}
.priority-ad{float:right}
