#main #accordion h3{margin-bottom:0px;line-height:40px;padding-bottom:0px;border-bottom:none}
#accordion td.top{vertical-align:top;line-height:30px}
#main #accordion.report .accordionContent{border:none}
#main #accordion .accordionContent{border:1px solid #dddddd;margin-bottom:2px;padding-left:10px;padding-right:10px}
#main #accordion .accordionContent ul{margin:10px 0}
.accordionContent .boxContent ul li{width:auto !important}
#accordion .reportForm{background-color:#ffffff}
#accordion td{width:70%;padding:10px 1% 10px 1%;vertical-align:middle}
#accordion td:first-child{width:30%;text-align:right}#accordion label{margin-right:10px}
#accordion textarea{width:98%;height:100px;padding:1%;background:#f3f3f3;border:1px solid #7c8f9d}
#main .main-holder:after{clear:both;display:block;content:""}
.report_intro{margin-bottom:10px;padding:5px;padding-top:0}
.report_rl,#main #accordion .report_rl{line-height:18px;padding:15px 20px 8px 30px}
/*#btn-reportcontent{background:url(../i/report_btn_1.png) 0 0 no-repeat;height:34px;width:72px}*/
#btn-reportcontent:hover{background-position:-72px 0}
#helpHeader {border-bottom: 1px solid #ddd;height: 47px;padding-bottom: 16px;width: 100%;}
#helpContent {float: left;padding-right: 39px;position: relative;}
#helpContent, #helpSidebar {margin-top: 21px;}